@font-face {
    font-family: lobster;
    src: url(./Fonts/Lobster-Regular_7d6154c54ee9635fb811bff8e5946afb.ttf);
}
footer{ 
    text-align: center;
    min-height:50px; 
}
header{
    text-align: center;
    font-size: large;
    font-family: lobster;
    background-color: black;
    align-self: center;
}
body{
    text-align: center;
    display: table-cell;
    font-family: Verdana, sans-serif;
    background-color: rgb(43 48 53);
    vertical-align: middle;
}

table{
    border-style: groove;
    align-self: center;
    text-align: center;
    max-width:1000px;
    background-color: aliceblue;
}
th{
    border-style: solid;
    border: 3px solid black;
    background-color: rgb(64,224,208);
}
table, td {
    border: 3px solid black;
}
h1{
    color: aliceblue;
}
.center{
    margin-left: auto;
    margin-right: auto;
}